$color-semidarkblue: #3f50be;
$color-gray: #9093A6;
$color-semilightgray: #D4D7E5;
$color-lightgray: #F2F4FA;
$weight-300: 300;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;
$grayrgb: rgb(54, 72, 72);
$white:#FFF;
